.container {
    background-color: #299E41;
    opacity: 0.6;
    width: 750px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

@font-face {
    font-family: Open;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

#main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right bottom, rgb(154, 56, 235), rgb(238, 225, 47));
}

#numero-do-cartao {
    margin-top: 7px;
}
h2 {
    margin-bottom: 3px;
    margin-left: 35px;
    font: 300 30px 'Open', sans-seriff;
}

input{
    height: 25px;
    border-radius: 5px;
    background-color: #eedfdf;
    text-align: center;
    width: 200px;
    margin-left: 15px ;}
    

    button{
        height: 25px;
        width: 100px;
        border-radius: 12px;
        background-color: #f0e4e4;
        cursor: pointer;
        margin-top: 5px;
        margin-left: 7px;
    }

        button:hover {
            background-color: #92bbe7;
          }

        p {
            margin-left: 10px;
            font: 300 30px 'Open', sans-seriff
            color #E3F76D
        }

        label {
            font: 300 14px 'Open', sans-seriff
        }